{% extends "base.html" %}

{% block title %}Ingresar{% endblock %}

{% block body %}

<div class="login-clean">
        <form method="post">
            <h2 class="sr-only">Ingresar</h2>
            <div class="illustration">
                <div class="illustration"><img src="static/img/logos/AMS-Logo.png"></div>
            </div>
            <div class="form-group"><input class="form-control" type="text" name="usuario" placeholder="Usuario"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Contraseña"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Ingresar</button></div><a href="#" class="forgot">Recuperar contraseña?</a></form>
    </div>


{{ include('javascript.html') }}


    <script>
$.backstretch([
        "static/img/login/1.jpg"
        , "static/img/login/2.jpg"
        , "static/img/login/4.jpg"
], {duration: 3000, fade: 750});

</script>

{% endblock %}
